
  <mat-card style="height: auto; margin-top: 10px; margin-left: 10px; margin-right: 10px" *ngIf="dataPokemon">
    <div style="text-align: center">
      <h1>{{ data.name }}</h1>
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <img
                style="
                  height: 200px;
                  width: 200px;
                  margin-top: 10px;
                  margin-left: 10px;
                  margin-right: 10px;
                "
                [src]="'https://img.pokemondb.net/artwork/large/' + data.name + '.jpg'"
              />
            </div>
          </div>
          <div class="row" >
            <div class="col-md-12" style="text-align: center">
              <ng-container *ngFor="let stats of dataPokemon.stats">
                <h3>{{stats.stat.name}} : {{ stats.base_stat }}</h3>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

